<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="width:100%">
                    <li>
                        @Html.ActionLink("Movie Night", "Index", "Movies", null, new { @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("Directors", "Index", "Directors")
                    </li>
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @if (Session["user"] != null)
                                    {
                                        MovieNight.Models.User user = Session["user"] as MovieNight.Models.User;
                                        if (user.Role == MovieNight.Models.Role.Admin)
                                        {


                                <li>@Html.ActionLink("Manage Movies", "Manage", "Movies")</li>
                                <li>@Html.ActionLink("Manage Directors", "Manage", "Directors")</li>
                                <li>@Html.ActionLink("Manage Reviews", "Manage", "Reviews")</li>
                                <li class="divider"></li>
                                }
                                <li><a>Hello @user.Username</a></li>
                                <li>@Html.ActionLink("Logout", "Logout", "Users")</li>

                            }
                            else
                            {
                                <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Login -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Login to Your Account</h1><br>
                <form method="post" action="/Users/Login">
                    @Html.AntiForgeryToken()
                    <input type="text" name="Username" id="Username" placeholder="Username">
                    <input type="password" name="Password" id="Password" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                </form>
            </div>
        </div>
    </div>
    <!-- /Login -->

    <!-- Page Content -->
    <div class="container">

        @RenderBody()

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; MovieNight</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <!-- jQuery -->
   
    @RenderSection("scripts", required: false)

</body>

</html>