@model MovieNight.Models.Director

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <img class="col-md-3 col-sm-3 col-lg-3" src="@Model.Picture" alt="@Model.FirstName @Model.LastName" style="width:300px; height:300px;">
        <div class="col-md-6 col-sm-6 col-lg-6">
            <h1>@Model.FirstName @Model.LastName</h1>
            <p><b>First Name: </b>@Model.FirstName</p>
            <p><b>Last Name: </b>@Model.LastName</p>
            <p><b>Origin: </b>@Model.Origin</p>
            <p><b>Gender: </b>@Model.Gender.ToString()</p>
            <p><b>BirthDay: </b>@Model.DateOfBirth.ToShortDateString()</p>
            
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_movies" data-toggle="tab">
                                @Model.Movies.Count <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab_stats_stars" data-toggle="tab">
                                <span class="glyphicon glyphicon-star"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab_stats_calendar" data-toggle="tab">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_movies">
                            @if (Model.Movies.Count == 0)
                            {
                                <div class="row">
                                    <div class="panel-body">No Movies Yet.</div>
                                </div>
                            }
                            else
                            {
                                foreach (var item in Model.Movies)
                                {
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div>
                                                <img class="img-responsive user-photo" src="@item.Poster">
                                            </div>
                                        </div>

                                        <div class="col-sm-7">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <strong>@Html.ActionLink(item.Title, "Details", "Movies", new { id = item.ID }, null)</strong> <span class="text-muted">@item.ReleaseDate.ToShortDateString()</span>
                                                </div>
                                                <div class="panel-body">
                                                    @item.Plot
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="tab-pane" id="tab_stats_stars">
                            <p>Number of movies by ratings</p>
                            
                        </div>
                        <div class="tab-pane" id="tab_stats_calendar">
                            <p>Number of movies by years</p>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>