@model IEnumerable<MovieNight.Models.Director>

@{
    ViewBag.Title = "Directors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-3">
        <p class="lead">Filter</p>
        <form>
            <div class="list-group">
                <div class="list-group-item">
                    <input type="text" class="search-query form-control" placeholder="Director's Name" id="directorName" name="directorName" value="@ViewBag.directorName"/>
                </div>
                <div class="list-group-item">
                    <select class="form-control" name="directorGender" id="directorGender">
                        <option>All</option>
                        @foreach (var gender in ViewBag.directorGender)
                        {
                            if (ViewBag.selectedGender == gender.Text)
                            {
                                <option selected>@gender.Text</option>
                            }
                            else
                            {
                                <option>@gender.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="list-group-item">
                    <select class="form-control" name="directorOrigin" id="directorOrigin">
                        <option>All</option>
                        @foreach (var origin in ViewBag.directorOrigin)
                        {
                            if (ViewBag.selectedOrigin == origin.Text)
                            {
                                <option selected>@origin.Text</option>
                            }
                            else
                            {
                                <option>@origin.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="list-group-item">
                    <button class="btn-group-sm form-control">Apply Filter</button>
                </div>
            </div>
        </form>

        <form>
            <button class="btn-group-sm form-control">Clear Filter</button>
        </form>
    </div>

    <div class="col-md-9">

        <div class="row">

            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                <div class="container-fluid well span9">
                    <div class="row-fluid">
                        <div class="col-md-3">
                            <img src="@item.Picture" class="img-circle" style="width:150px; height:150px;">
                        </div>

                        <div class="col-md-6">
                            <h3>@Html.ActionLink(item.FirstName + " " + item.LastName, "Details", new { id = item.ID })</h3>
                            <h6>Origin: @item.Origin</h6>
                            <h6>Gender: @item.Gender.ToString()</h6>
                            <h6>BirthDay: @item.DateOfBirth.ToShortDateString()</h6>
                            <h6>Movies: @item.Movies.Count <span class="glyphicon glyphicon-facetime-video"></span></h6>
                        </div>
                    </div>
                </div>
                }
            }
            else
            {
                <div class="container-fluid well span9">
                    No Directors found, Try removing some of the filters.
                </div>
            }
    </div>
</div>