@model IEnumerable<MovieNight.Models.Director>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Directors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    
    <!-- Set a new html form, wich will be submmited using get method, so that the search parameters are visible in the url -->
    @using (Html.BeginForm("Index", "Directors", FormMethod.Get))
    {
    <p>
        <!-- Search a Director based on it's Name-->
        Name: @Html.TextBox("directorName")
  
        <!-- Search a Director based on it's date of birth-->
       Gender: @Html.DropDownList("directorGender", "All")

        <!-- Search a director based on it's origin, dropdown list populated with the html helper - directorOrigin, created in the director controller-->
        Origin: @Html.DropDownList("directorOrigin", "All")

        <!-- Submit the search form data-->
        <input type="submit" value="Filter" />
    </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
