@model IEnumerable<MovieNight.Models.Review>

@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    <!-- Set a new html form, wich will be submmited using get method, so that the search parameters are visible in the url -->
    @using (Html.BeginForm("Index", "Reviews", FormMethod.Get))
    {
        <p>
            <!-- Search a review based on it's reviewer-->
            Critic Name: @Html.TextBox("criticName")

            <!-- Search a review based on it's movie-->
            Movie: @Html.TextBox("reviewedMovie")

            <!-- Search a review based on it's content-->
            Content: @Html.TextBox("reviewContent")

            <!-- Submit the search form data-->
            <input type="submit" value="Filter" />
        </p>
    }

    @using (Html.BeginForm("GroupBy", "Reviews", FormMethod.Get))
    {
        <p>
            <!--Search all of the -->
            Or See all Reivews for: @Html.DropDownList("groupByMovie", "All")
            <input type="submit" value="Go" />
        </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CriticName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CriticName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
