@model MovieNight.Models.Movie

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <img class="col-md-3 col-sm-3 col-lg-3" src="@Model.Poster" alt="@Model.Title" style="width:300px; height:300px;">
        <div class="col-md-6 col-sm-6 col-lg-6">
            <h1 class="pull-left">@Model.Title</h1>
            <br />
            <h4 class="pull-right">@Model.ReleaseDate.ToShortDateString()</h4>
            <br /><br />
            <h4 class="pull-right">@Model.Rating <span class="glyphicon glyphicon-star"></span></h4>
            <br />
            <p>
                <!-- Displays the movie genres for the selected movie-->
                @foreach (var genre in Model.Genre.Split(','))
                {
                    <button class="btn btn-sm btn-default">@Html.ActionLink(genre.Trim(), "Index", "Movies", new { movieGenre = genre.Trim() }, null)</button>
                }
            </p>
            <p><b>Plot: </b>@Model.Plot</p>
            <p><b>Director: </b>@Html.ActionLink(Model.Director.FirstName + " " + Model.Director.LastName, "Details", "Directors", new { id = Model.DirectorID }, null)</p>

            <!-- Movie trailer-->
            <div>
                <iframe width="530" height="345" src="@Model.Trailer" allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>

<!-- More Like this movie!!!-->
 <!--       <div class="col-md-9 col-sm-9 col-lg-9"> -->
            <!-- Displays the movie genres for the selected movie-->
            @*@foreach (var similar in ViewBag.moreLikeThis)
            {
                <span>similar.Title</span>
            }*@
<!--        </div> //-->
    
    <!-- Displays the movie cast information from TMDB-->
    <section class="top_billed" name="top_billed">
        <h3>Top Billed Cast</h3>
        <ol class="people">
            @{
                int counter = 0;

                <!-- Going over six of the cast personals to display on the movie details page-->
                foreach (var currCast in ViewBag.cast)
                {
                    <!-- Display a list of cast members, showing - person's name, charachter name and profile pic-->
                    <li>
                        <img src="@ViewBag.baseImageURL@currCast.ProfilePath" alt="@currCast.Name" onerror="this.src = 'http://mdepinet.org/wp-content/uploads/person-placeholder.jpg'" style="width:150px; height:150px;" class="profile lazyautosizes lazyloaded">
                        <h4>@currCast.Name</h4>
                        <h6><b>@currCast.Character</b></h6>
                    </li>

                    <!-- Increase the cast personals counter-->
                    counter++;

                    <!-- Display no more than six cast members-->
                    if (counter > 5)
                    {
                        break;
                    }
                }
            }
        </ol>
    
    <!-- A link to the cast discription on TMDB itself-->
    <p class="full_width button"><a class="button rounded" href="https://www.themoviedb.org/movie/@ViewBag.currMovieTMDBID@Model.Title.Replace(" ", string.Empty)/cast">See Full Cast &amp; Crew on TMDB</a></p>   

    </section>
    <div class="row">
        <div>
            <h4 class="pull-right">@Model.Reviews.Count <span class="glyphicon glyphicon-comment"></span></h4>
            <br />
            <hr />
            <div class="review-block">
                @if (Model.Reviews.Count == 0)
                {
                    <div class="row">
                        <div class="panel-body">No Reviews Yet.</div>
                    </div>
                }
                else
                {
                    foreach (var item in Model.Reviews)
                    {
                        <div class="row">
                            <div class="col-sm-1">
                                <div>
                                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                </div>
                            </div><!-- /col-sm-1 -->

                            <div class="col-sm-5">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>@item.CriticName</strong> <span class="text-muted">@item.Date.ToShortDateString()</span>
                                    </div>
                                    <div class="panel-body">
                                        @item.Content
                                    </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </div><!-- /col-sm-5 -->
                        </div>
                    }
                }
                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <div class="well well-sm">
                            <div class="text-right">
                                <a class="btn btn-success btn-green" href="#post-review-box" data-toggle="collapse" id="open-review-box">Leave a Review</a>
                            </div>
                            <div class="row collapse" id="post-review-box">
                                <br />
  
                                    <div class="col-md-12">
                                        <form accept-charset="UTF-8" action="/Reviews/Create" method="post">
                                            @Html.AntiForgeryToken()
                                            <input id="returnUrl" name="returnUrl" value="@this.Request.RawUrl" style="display:none;" />
                                            <input id="MovieID" name="MovieID" value="@Model.ID" style="display:none;" />
                                            <input id="Date" name="Date" value="@DateTime.Now" style="display:none;" />
                                            <input required class="form-control text-box single-line animated" id="CriticName" type="text" data-val="true" data-val-required="The Name is requiered" name="CriticName" placeholder="Enter your name here..." />
                                            <br />
                                            <textarea required class="form-control animated" cols="50" id="Content" name="Content" placeholder="Enter your review here..." rows="5"></textarea>

                                            <div class="text-right">
                                                <br />
                                                <a class="btn btn-danger btn-sm" href="#post-review-box" data-toggle="collapse" id="close-review-box" ">
                                                    <span class="glyphicon glyphicon-remove"></span> Cancel
                                                </a>
                                                <button class="btn btn-success btn-sm" type="submit"><span class="glyphicon glyphicon-save"></span> Save</button>
                                            </div>
                                        </form>
                                    </div>
                                
                                </div>
                                
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
