 @model IEnumerable<MovieNight.Models.Movie> 

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool IsFiltered = false;
}

<!-- Using the specific javascript functions for the movie inex page-->
<script src="~/Scripts/movie-index-scripts.js"></script>

<div class="row">
    <div class="col-md-3">
        <form class="searchSideBar">
            <p class="lead filterBy">View</p>
            <div class="list-group">
                <div class="list-group-item">
                    <button id="topRated" name="orderBy" value="TopRated" class="btn-group-sm form-control filterBy" type="submit">Top Rated Movies</button>
                </div>
                <div class="list-group-item">
                    <button id="newest" name="orderBy" value="Newest" class="btn-group-sm form-control filterBy" type="submit">Recent Releases</button>
                </div>
                <div class="list-group-item">
                    <button id="clearOrder" name="orderBy" value="" class="btn-group-sm form-control" type="submit">All Movies</button>
                </div>
                </div>
                <br />

                <p class="lead">Filter</p>

                <div class="list-group">
                    <div class="list-group-item">
                        <select class="form-control dropDownFilter" name="movieGenre" id="movieGenre">
                            <option>All</option>
                            @foreach (var genre in ViewBag.movieGenre)
                            {
                                if (ViewBag.selectedGenre == genre.Text)
                                {
                                    <option selected>@genre.Text</option>
                                }
                                else
                                {
                                    <option>@genre.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="list-group-item">
                        <input type="text" class="search-query form-control" placeholder="Director's Name" id="searchDirector" name="searchDirector" value="@ViewBag.searchDirector" />
                    </div>
                    <div class="list-group-item">
                        <input type="text" class="search-query form-control" placeholder="Movie's Name" id="searchString" name="searchString" value="@ViewBag.searchString" />
                    </div>
                    <div class="list-group-item">
                        <button id="orderBy" name="orderBy" value="@ViewBag.orderBy" class="btn-group-sm form-control filterBy">Apply Filter</button>
                    </div>
                </div>
        </form>
        <form>
            <button class="btn-group-sm form-control">Clear Filter</button>
        </form>
    </div>

    <div class="col-md-9">

        <div class="row" id="displayedMovies">
          <!-- If there are movies to display in the MovieNight DB -->
            @if (Model.Count() > 0)
            {
                int numOfMoviesToDisply = 0;
                int MOVIE_NUMBER_LIMIT = 8;

                // Show unlimited results for filtered searches
                if (!string.IsNullOrEmpty(ViewBag.searchString) || !string.IsNullOrEmpty(ViewBag.selectedGenre) ||
                    !string.IsNullOrEmpty(ViewBag.searchDirector) || !string.IsNullOrEmpty(ViewBag.orderBy))
                {
                    IsFiltered = true;
                }

                // Going over all of the movies to display
                foreach (var item in Model)
                {
                    // Check that we have not reached the movie number limit
                    if (numOfMoviesToDisply > MOVIE_NUMBER_LIMIT && !IsFiltered)
                    {
                        // Exit the disply movies loop
                        break;
                    }

                    // Showing movies on movie page according to the wnated limit
                    else
                    {
                        <section name="movieThumbnailInfo">
                            <div class="col-sm-4 col-lg-4 col-md-4 movieElement">
                                <div class="thumbnail">
                                    <img src="@item.Poster" alt="@item.Title">
                                    <div class="caption">
                                        <h4 class="movieTitle">
                                            @Html.ActionLink(item.Title, "Details", new { id = item.ID })
                                        </h4>
                                        <h4 class="pull-right releaseYear">@item.ReleaseDate.Year</h4>
                                        <br />
                                        <p class="movieGenres">
                                            <nav class="movieGenreLinks">
                                                @foreach (var genre in item.Genre.Split(','))
                                                {
                                                    <button class="btn btn-xs btn-default">@Html.ActionLink(genre.Trim(), "Index", "Movies", new { movieGenre = genre.Trim() }, null)</button>
                                                }
                                            </nav>
                                        </p>
                                    </div>
                                    <div class="ratings">
                                        <p class="pull-right reviewCount">@item.Reviews.Count <span class="glyphicon glyphicon-comment"></span></p>
                                        <p class="ratingNumber">
                                            @item.Rating <span class="glyphicon glyphicon-star"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        // Increase index
                        numOfMoviesToDisply++;
                    }
                }
            }

            // If there are no movies to disply
            else
            {
                <div class="container-fluid well span9">
                    No Movies found, Try removing some of the filters.
                </div>
            }
            
            <!-- If unfiltered - enable the show me more button-->
            @if (!IsFiltered)
            {
                <div class="form-group" id="ShowMeMore-div">
                    <div id="ShowMeMore" class="col-md-offset-5 col-md-10" style="margin-top:35px;">
                        <input id="ShowMeMore" type="submit" value="Show Me More" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>