@model IEnumerable<MovieNight.Models.Movie>

@{
    ViewBag.Title = "Movie Night";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-3">
        <p class="lead">Order By</p>
        <div class="list-group">
            <a href="TopRated" class="list-group-item">Top Rated Movies</a>
            <a href="Recent" class="list-group-item">Recent Releases</a>
            <a href="Index" class="list-group-item">All Movies</a>
        </div>
    </div>

    <div class="col-md-9">

        <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="@item.Poster" alt="@item.Title">
                    <div class="caption">
                        <h4>
                            @Html.ActionLink(item.Title, "Details", new { id = item.ID })
                        </h4>
                        <h4 class="pull-right">@item.ReleaseDate.Year</h4>
                        <br /><br />
                        <p>
                        @foreach (var genre in item.Genre.Split(','))
                        {
                            <button class="btn btn-xs btn-default">@Html.ActionLink(genre, "Index", "Movies", new { genre = genre }, null)</button>
                        }
                        </p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">@item.Reviews.Count <span class="glyphicon glyphicon-comment"></span></p>
                        <p>
                            @item.Rating <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
            </div>
        }

        </div>
    </div>
</div>
